{% extends 'Template/StandardTemplate.html.twig' %}

{% block title %}{{ 'track.view_page.title'|trans }}{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('criticalmass_user_usermanagement') }}">
            Dein Benutzerkonto
        </a>
    </li>

    <li>
        <a href="{{ path('caldera_criticalmass_track_list') }}">
            Deine Tracks
        </a>
    </li>

    <li class="active">
        Track anzeigen
    </li>
{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                {% if track.getRide().getTitle() %}
                    <h1>{{ track.getRide().getTitle() }}</h1>
                {% else %}
                    <h1>{{ track.getRide().getCity().getTitle() }}</h1>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="map" style="height: 350px;"></div>
            </div>
        </div>

        <div class="row margin-top-medium">
            <div class="col-md-3">
                <dl>
                    <dt>
                        {{ 'track.properties.ride'|trans }}
                    </dt>
                    <dd>
                        <a href="{{ objectPath(track.ride) }}">
                            {{ track.ride.title }}
                        </a>
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        {{ 'track.properties.date'|trans }}
                    </dt>
                    <dd>
                        {{ track.ride.dateTime|date('d.m.Y H:i', track.ride.city.timezone) }}&nbsp;Uhr
                    </dd>
                </dl>
            </div>

            <div class="col-md-3">
                <dl>
                    <dt>
                        {{ 'track.properties.ride_location'|trans }}
                    </dt>
                    <dd>
                        {% if track.ride.getHasLocation and track.ride.location %}
                            {{ track.ride.location }}
                        {% else %}
                            {{ 'track.properties.ride_location_unknown'|trans }}
                        {% endif %}
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        {{ 'track.properties.distance'|trans }}
                    </dt>
                    <dd>
                        {{ track.distance|round(2) }}&nbsp;km
                    </dd>
                </dl>
            </div>

            <div class="col-md-2">
                <dl>
                    <dt>
                        {{ 'track.properties.durantion'|trans }}
                    </dt>
                    <dd>
                        {{ human_duration(track.getDurationInSeconds()) }}
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="pager">
                    {% if previousTrack %}
                        <li class="previous">
                            <a href="{{ objectPath(previousTrack) }}">
                                &larr; {{ 'track.previous'|trans }}
                            </a>
                        </li>
                    {% else %}
                        <li class="previous disabled">
                            <a href="#">&larr; {{ 'track.previous'|trans }}</a>
                        </li>
                    {% endif %}

                    {% if nextTrack %}
                        <li class="next">
                            <a href="{{ objectPath(nextTrack) }}">
                                {{ 'track.next'|trans }} &rarr;
                            </a>
                        </li>
                    {% else %}
                        <li class="next disabled">
                            <a href="#">{{ 'track.next'|trans }} &rarr;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script>
        CriticalMass.loadModule('TrackViewPage', null, null, function (viewPage) {
            viewPage.addTrack('{{ track|serialize|raw|e('js') }}');

            viewPage.focus();
        });
    </script>
{% endblock %}
